.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
***REMOVED***

.submit-form {
  max-width: 300px;
  margin: auto;
***REMOVED***

.edit-form {
  max-width: 300px;
  margin: auto;
***REMOVED***